[submodule "engine/external/glfw"]
	path = engine/external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "engine/external/glm"]
	path = engine/external/glm
	url = git@github.com:g-truc/glm.git
[submodule "engine/external/assimp"]
	path = engine/external/assimp
	url = git@github.com:assimp/assimp.git
[submodule "engine/external/gli"]
	path = engine/external/gli
	url = git@github.com:g-truc/gli.git
